@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    background-color: #E5E5E5;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 150%;
}

.logo_alura {
    margin-left: 10px;
    padding-top: 10px;
    width: 5%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
    
}

.informacao {
    color: red;
    font-size: 18px;
    margin-left: 10px;
}



.text-area {
    border: 1px solid #0A3871;
    background-color: white;
    border-radius: 12px;
    color: #0A3871;
    margin-top: 10px;
    margin-left: 70px;
    text-transform:lowerCase;
    
    
}

.resultado {
    display: flex;
    margin-left: 190px;
    font-size: medium;
    color:#0A3871

}

.texto_modificar {
    display: flex;
    margin-left: 270px;
    font-size: medium;
    color:#0A3871

}

.mensagem {
    border: 1px solid #0A3871;
    background-color: white;
    background-size:100%;
    background-repeat: no-repeat;
    border-radius: 12px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 10px;
    padding-left: 20px;
    position: fixed;
     
}

.mensagem:focus {outline: none}
    
.botoes {
    display: flex;
    margin-top: 55px;
}


.btn_desencriptar {
    background: #d8dfe8;
    border-radius: 24px;
    color:#0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    font-size: 20px;
}

.btn_encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
    font-size: 20px;
    

}

.btn_copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    color: #0A3871;
    height: 67px;
    width: 250px;
    margin-left: 107px;
    margin-top: 375px;
    position: absolute;
    font-size: 20px;
}


::placeholder { 
    color: #0A3871;
    text-align: center;
    padding: 10px;
}
.text-area:focus {outline: none;

}

footer {
    font-size: small;
    color:#0A3871;
    text-align: center;
}

.footer {
    text-decoration: none;
    color: #0A3871;
}

